body {

  /* background-color:  #1735B3 !important; */
  background-image:url(./image/Shiny\ Overlay.svg) !important;
  background-position: center center;
  background-repeat:no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;

}

